    <div id="aboutus" class="row margin-top-bottom">
        <div class="col-md-offset-1 col-md-5">
            {{widget('content', 'aboutusContent', {content: '<h3>ABOUT US</h3>
                    <p>Some of our patients spend weeks needing critical care, suffering from physical and mental trauma, fighting to survive the most serious illnesses and accidents.</p>
<p>So in our new Critical Care Centre, we want to create a healing environment to treat the body and the mind. The rooms will be flooded with light from huge windows, bedside touchscreen tablets will keep patients connected, and, for the first time in the world, there will be a unique roof garden with outdoor life support.</p>
<p><i>It couldn’t be easier to make a huge difference to the way we provide critical care at King’s! With each ticket costing just £1, playing the raffle is a simple way to help.</i></p>'})|raw}}
            {{widget('logo', 'aboutusSmallLogo', {"defaultlogo": asset('images/aboutus-sm.jpg')})|raw}}
        </div>
        <div class="col-md-5">
            {{widget('logo', 'aboutusLogo', {"defaultlogo": asset('images/aboutus.jpg')})|raw}}
        </div>

    </div>