<div id="copyright" class="row">
    <div class="col-md-offset-1 col-md-11">
    <p>© 2017 All rights reserved. Developed by Capen and powered by Zaffo. King’s College Hospital Charity, registered Charity No. 1165593. Company limited by guarantee registered in England and Wales No. 09987908). This raffle is promoted by Claire Newton, King’s College Hospital, London SE5 9RS. Licensed as a Small Society Lottery by Lambeth Borough Council, no. LBLam / Lot234. info@supportkings.org.uk; www.supportkings.org.uk/raffle</p>
    </div>
</div>