<div id="footer" class="row margin-top">
    <div class="col-md-offset-1 col-md-11 margin-top margin-bottom">

        <div class="col-md-3">
            {% include "section/footer/contactus.twig" %}
        </div>
    
        <div class="col-md-3">
            {% include "section/footer/resources.twig" %}
        </div>

        <div class="col-md-3">
            {% include "section/footer/verifiedby.twig" %}
        </div>

        <div class="col-md-3">
            {% include "section/footer/thirdparty.twig" %}
        </div>
    
    </div>            
    
    
</div>