    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div id="header" class="row margin-top">
        <div id="logo" class="col-xs-12 col-md-offset-1 col-md-7">
            {% include "section/header/logo.twig" %}
        </div>
        <div id="menu" class="col-xs-6 col-md-4">
            {% include "section/header/navigation.twig" %}
        </div>
    </div>
