    <div id="prizes" class="row margin=">
        <div class="row margin-top-bottom">
            <div class="col-md-offset-1 col-md-5">
                {{widget('logo', 'prizesLogo', {"defaultlogo": asset('images/prizes.jpg')})|raw}}
            </div>
            <div class="col-md-5">
                {{widget('content', 'prizesContent', {content: ' <h3>PRIZES TO BE WON!</h3>
                            
                                <p>1ST PRIZE WIN £2,000</p>
<p>2ND PRIZE WIN £500</p>
<p>3RD PRIZE WIN £250</p>
<p>£50 EACH FOR 5 LUCKY PEOPLE</p>
                            <a class="btn btn-primary" href="#moneybuys">
                                PLAY NOW!                            </a>' })|raw}}
            </div>
        </div>
    </div>