<ol id="main-navigation" class="navigation">
    {{widget('content', 'navigation-content', {
      content: '<li><a href="#aboutus">About Us</a></li>
                  <li><a href="#prizes">Prizes</a></li>
                  <li><a href="#playnow">Play Now</a></li>
      '})|raw}}
</ol>    
