<h3>Contact Us</h3>
<p>Need help? Don't hesitate to contact us</p>
<p class="icon phone-icon">{{widget('content', 'footerphone', {content: '+44 (0203) 096 6265'})|raw}}</p>
<p id="email" class="icon email-icon">{{widget('content', 'footeremail', {content: '<a href="mailto:support@zaffo.com">support@zaffo.com</a>'})|raw}}</p>
<h3>Extra Support<br />{{widget('logo', 'gmclogo', {"defaultlogo": asset('images/capen-gmc.png')})|raw}}</h3>
<p>Is problem gambling affecting you, or those close to you?</p>
<p class="icon phone-icon"><span>Freephone: 0808 8020 133</span></p>
<p>Please note that your payment has been processed by Capen Ltd Trading as Zaffo.com and your bank statement will include the following information “Zaffo.com-ZaffoCharity 0203 096 6265”</p>
